In [1]:
#dependencies
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as soup

In [2]:
#webdriver
#executable path 
executable_path={'executable_path': '/Users/annel/Downloads/chromedriver/chromedriver.exe'}
#browser
browser= Browser('chrome', **executable_path)

## news info

In [6]:
#visit the mars news site
url= 'https://mars.nasa.gov/news/'
browser.is_element_present_by_css('li.slide', wait_time=1)

True

In [ ]:
#html to soup object
#html=browser.html
#news=soup(html,'html.parser')

###some sort of error in setting up these variables, keep getting "nonetype" error. When variables were removed,code runs.

In [7]:
#find "content title" in the html code
news_title=soup(browser.html,'html.parser').select_one('li.slide').find("div", class_='content_title')

In [8]:
#find and save "content_title"s
title=news_title.get_text()
title

"NASA Engineers Checking InSight's Weather Sensors"

In [9]:
#find "article_teaser_body"
teaser=soup(browser.html,'html.parser').select_one('li.slide').find("div", class_='article_teaser_body').get_text()
teaser

'An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.'

## featured image

In [29]:
#visit url for featured images
image_url='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [30]:
#find and click on the full image button
full_bttn=browser.find_by_id('full_image')
full_bttn.click()

In [38]:
#find and click on the more info button
info_bttn=browser.links.find_by_partial_text('more info')
info_bttn.click()

In [39]:
#parse the html with soup
#img_html=soup(browser.html,'html.parser')#trying this one again. We will see
#still didn't work. not sure why.

In [45]:
#find image url
img_url_official=soup(browser.html,'html.parser').select_one('figure.lede a img').get("src")
img_url_official

'/spaceimages/images/largesize/PIA07137_hires.jpg'

In [46]:
img_url_official_final=f'https://www.jpl.nasa.gov{img_url_official}'
img_url_official_final

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA07137_hires.jpg'

# mars facts

In [49]:
#read the table in as a dataframe and make sure it looks right
facts_df=pd.read_html('http://space-facts.com/mars/')[0]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [50]:
#rename columns get rid of non-valuable index
facts_df.columns=['Description', 'Mars']
facts_df.set_index('Description', inplace=True)
facts_df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [51]:
#turn that into html
facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# hemispheres

In [52]:
#save new url and visit with chrome webdriver
hemi_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)

In [53]:
#save a list of hemispheres
hemisphere_img_urls=[]

In [58]:
#loop through the links, clicking, finding anchor, #href, title, and then saving each obj in list
for i in range(4):
    hemisphere={}
    browser.find_by_css("a.itemLink h3")[i].click()
    anchor = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = anchor['href']
    hemisphere['title'] = browser.find_by_css("h2.title").text
    hemisphere_img_urls.append(hemisphere)
#at end of loop navigate back to beginning
    browser.back()

In [59]:
hemisphere_img_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [61]:
#quit
browser.quit()